In [8]:
import os
from google.cloud import bigquery
from datetime import datetime

In [16]:
# Export Google Cloud Credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='/Users/karl/git/mobilityframework-pipeline/bigquery-service.json'

# Initialize Big Query Client
client = bigquery.Client(project='flas-h')

In [14]:
args = {
    'execution_date': datetime.today().strftime('%Y-%m-%d'),
    'city': 'Hamburg'
    }

In [17]:
client.query(f"SELECT * FROM `flas-h.mobility.tier` WHERE DATE(_PARTITIONTIME) = '{ args['execution_date'] }' AND city = '{ args['city'] }' LIMIT 10").to_dataframe().head()

,city,country,lat,lng,model,sign,code,energyLevel,energyType,lastActivity,manufacturer,provider,time,yyyy,mm,dd,category
0,Hamburg,Germany,53.540109,10.009807,okai,123WMV,280488,15,electric,2021-03-23T23:56:57Z,tier,tier,1616544846,2021,2021-03,2021-03-24,escooter
1,Hamburg,Germany,53.540109,10.009807,okai,123WMV,280488,15,electric,2021-03-23T23:56:57Z,tier,tier,1616544330,2021,2021-03,2021-03-24,escooter
2,Hamburg,Germany,53.540109,10.009807,okai,123WMV,280488,15,electric,2021-03-23T23:56:57Z,tier,tier,1616544097,2021,2021-03,2021-03-24,escooter
3,Hamburg,Germany,53.540109,10.009807,okai,123WMV,280488,15,electric,2021-03-23T23:56:57Z,tier,tier,1616544568,2021,2021-03,2021-03-24,escooter
4,Hamburg,Germany,53.540109,10.009807,okai,123WMV,280488,15,electric,2021-03-23T23:56:57Z,tier,tier,1616544440,2021,2021-03,2021-03-24,escooter